/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common utilities */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 30px;
    
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px 30px 40px;
    margin-top: 20px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 20px gray; */
   
    
}
hr{
    border: 1px solid #D1D1D1;
}
/* top section */
.top-player{
    padding-bottom: 30px;
}
.section-title{
color: #562EFF;
font-size: 24px;
margin-bottom: 40px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
width: 56px;
height: 56px;
}
.player h3{
    padding-left: 16px;
    font-size: 18px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 25px;
    grid-column-gap: 40px;
}
.blog{
    display: flex;
    padding: 7px 0 0 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px; */
    border-radius: 15px;
    align-items: center;
    
}
.blog img{
    width: 177px;
    height: 117px;
    padding-right: 16px;
    align-items: center;
}
.blog-title{
    font-size: 20px;
    padding-bottom: 5px;
}
.blog-info p{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info span{
    color: #562EFF;
    ;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 23px;
}

    .course{
    background-color:whitesmoke;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.courses-title{
        color: #562EFF;
        font-size: 24px;
        margin-bottom: 20px;
        
        }
.course-thumbnail img{
    width:224px ;
    height: 104px;
}
.course-author{
    color: #ED6B4F;
    font-size: 15px;
    margin-bottom: 10px;

}
.course-title{
    font-size: 18px;
    margin-bottom: 7px;
    color: #1E1E1E;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.ratings i{
    color: #FFC014;
    width: 13px;
    height: 12px;

}

.course-duration{
    background-color:#FFE4E8;
    border-radius: 15px;
    color:#FF4A60;
    padding: 4px 5px;
}


@media only screen and (max-width:688px) {
    
    .container{
        width: 100%;
        
       
    }
    .players, .blogs ,.courses{
       grid-template-columns: repeat(1, 1fr);
    
    }
    .player, .blog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    
       .blog{
           padding-bottom: 10px;
           margin: 0;
           
   }
   .blog img{
       width: 100%;
       height:auto;
       padding:10px;
   }
   .blog-info{
       padding-left: 20px;
   }
     .course{
        margin: 15px 0;
    }
    .course-thumbnail img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width:688px) and (max-width:992px){
   .container{
       width: 100%;
   }
    .players, .blogs, .courses{
       grid-template-columns: repeat(2 ,1fr);
       
    
   }
   .player{
       display: flex;
       justify-content: center;
    align-items: center;
   }
   .course{
       margin-bottom: 20px;
   }
}